/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
/* Landing page */
#landing{
    background-image: url("../assets/backgrounds/h_img.jpg"); 
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: white;
    height: 700px;
    margin-left: 3%;
    margin-right: 3%;
}

#delaniLogo{
    padding-top: 20%;
}

.container p {
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
}
#lastLine {
    font-size: 15px; 
    padding-bottom: 3cm;
}

/* Section 2 */
#section2 h2{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 130%;
    margin-top: 5%;
}
#section2 p {
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    font-size: medium;
}
/* section 3 */
#section3 {
    background-image: url("../assets/backgrounds/s_image.jpg");
    background-size: cover;
    height: 500px;
    color: white;
   text-align: center;
   margin-left: 3%;
   margin-right: 3%;  
}

#section3 h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 130%;
    margin-top: 5%;
    padding-top: 13%;
}
/* section 4 */
#section4 {
    margin-bottom: 10%;
}
#section4 h2 {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 130%;
    margin-top: 5%;
    margin-bottom: 3%;
}
.label {
    display: flex;
    justify-content: center;
}
.hidden p {
    text-align: center;
    position: relative;
    display: none;
    /* margin-bottom: 5%; */
}
.showing {
    display: flex;
    justify-content: center;
}
.showing img {
   position: absolute; 
}


/* section 5 */
#row1 {
   margin: 2% 4%;
}
#row2 {
    margin: 2% 4%;
}
#section5 h2 {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 130%;
    margin-top: 5%;
    margin-bottom: 3%;
}
.row span {
    border: 5px solid white;
    margin: 5%;
    padding-top: 5%;
    padding-bottom: 50%;
    padding-left: 5%;
    padding-right: 30% ;
    font-size:x-large;
    font-family: 'Poppins', sans-serif;
}

#project1, #project2, #project3, #project4, #project5, #project6, #project7, #project8 {
    display: none;
    color: whitesmoke;
    position: relative;
    padding-top: 10%;
    height: 100%;
    width: 100%;
    
}
/* section 6 */
#section6 {
    background-image: url('../assets/backgrounds/c_image.jpg');
    background-size: cover;
    height: 500px;
    margin-left: 3%;
    margin-right: 3%;
    color: white;
}
#section6 h2 {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 130%;
    margin-top: 5%;
    padding-top: 5%;
}
input[type=text] {
    margin-left: 20%;
    width: 13cm;
    background-image: inherit;
    border: 0.05px solid white ;
    margin-right: 1%;
}
input[type=email] {
    width: 13cm;
    background-image: inherit;
    border: 0.05px solid white ;
    margin-left: 1%;
}
textarea {
    margin: 1% 20%;
    background-image: inherit;
    border: 0.05px solid white;
}
::placeholder {
    color: whitesmoke;
    font-family: 'Poppins', sans-serif;
}
#section6 input[type=submit] {
    margin: 1% 20%;
}
/* Section 7 */
footer {
    display: flex;
    justify-content: center;
    margin: 3%;
}
footer img {
    margin-left: 1%;
}
#section7 p{
    text-align: center;
}